name: OWASP tests

on:
  push:
    branches: [ "main", "tests" ]
#  pull_request:
#    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Run dotnet API
        run: dotnet run --project eshop_productservice
      - name: ZAP Scan
        uses: zaproxy/action-api-scan@v0.9.0
        with:
          target: 'http://0.0.0.0:5077/api/productservice/swagger/index.html'
